.form-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -20px -20px 0px 5px rgb(61 61 61 / 33%);
    border: 2px solid;
}
.form-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
.form-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #45a049;
}
